.saveContainer {
  text-align: center;
  height: 250px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 25px;
}

.saveContainer .topSaveContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.saveContainer .topSaveContainer .topContainer {
  height: 55%;
  width: 35%;
}

.saveContainer .topSaveContainer .topContainer .label {
  display: block;
  margin: 30px 0 0 0;
}

.saveContainer .topSaveContainer .topContainer .input {
  display: block;
  margin: 10px auto 0;
}

.saveContainer .bottomSaveContainer {
  display: block;
  height: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 45px
}

.saveContainer .bottomSaveContainer .bottomContainer {
  height: 100%;
  width: 50%;
}

.saveContainer .bottomSaveContainer .bottomContainer.left {
  float: left;
}

.saveContainer .bottomSaveContainer .bottomContainer.right {
  float: right;
}

.saveContainer .bottomSaveContainer .bottomContainer .button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 22px;
}
