.Navigation {
  width: 100%;
}

.hover:hover {
    background-color: #ffccbc !important;
}

.hover:active {
    background-color: #ffccbc!important;
}

.Navigation__containerView {
  padding: 100px 32px 32px;
  width: 100%;
}
