*{
  box-sizing: border-box;
}

html {
  display: flex;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  height: 100%;
}

#root {
  display: flex;
}
